{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block header %}
    <h1>Registration</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <form class="d-flex flex-column gap-3" method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">Register!</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}